@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Viaoda+Libre&display=swap');

.navbar {
    background-color: #987654;
}

.navbar__brand__text__container {
    max-width: 200px;
}

.navbar__brand__text {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #1E1F24;
    color: #E7E7E7;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home {
    padding-top: 0;
}

h1 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 35px;
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
}

.title__slider {
    margin-top: 50px;
}

.my__btn {
    background-color: #987654; /*Цвет фона*/
    color: #E7E7E7; /*Цвет шрифта*/
    font-family: Roboto, sans-serif; /*Шрифт*/
    font-weight: 500; /*Толщина шрифта*/
    font-size: 20px; /*Размер шрифта*/
    width: 340px; /*Ширина кнопки*/
    height: 55px; /*Высота кнопки*/
    margin-top: 30px;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    cursor: pointer;
    transition: 500ms ease;
}

.my__btn:hover {
    filter: brightness(120%);
}

.my__blocks {
    margin-top: 80px;
}

.my__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__block__text__title {
    margin-top: 24px;
}

.block__text__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.block__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;
}


.materials__block__text__title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.material_blog_img:hover {
    filter: brightness(150%); /* Увеличение яркости на 50% при наведении */
}

.stages__block__text {
    margin-top: 10px;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%; /*Радиус закругления границы элемента, именно он делает из элемента круг*/
    background-color: rgba(0, 123, 255, 0); /* Прозрачный фон */
    border: 2px solid white; /* Белый контур */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Цвет текста */
}

.gallery__col {
    display: flex;
    justify-content: center;
}

.gallery__img {
    transition: filter 0.05s ease;
}


.image-text {
    position: absolute;
    height: 100%;
    width: 80%;
    user-select: none;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.gallery__block:hover .gallery__img {
    filter: invert(44%) sepia(66%) saturate(245%) hue-rotate(349deg) brightness(96%) contrast(90%);
}

.gallery__block:hover .image-text {
    animation: fadeInUp;
    animation-duration: 1s;
    opacity: 1;
}

.feedback__col {
    display: flex;
    height: 700px;
}


.feedback__union__block {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.feedback__up__block {
    display: flex;
    flex-direction: column;
    height: 70%;
    background-color: #2E2E32; /* Цвет квадрата */
    align-items: center;
    justify-content: center;
}

.feedback__up__block img {
    height: 15%;
}

.feedback__up__block__text {
    display: block;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


.circle__2 {
    position: absolute;
    bottom: 15%; /* Положение круга, чтобы половина была видна под квадратом */
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 1); /* Прозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7E7E7;
}

.callback {
    background-color: #2E2E32;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.callback h2 {
    padding-top: 100px;
}

.callback__text {
    font-family: 'Viaoda Libre', cursive;
    font-size: 26px;
    text-align: center;
}

.callback__form__container {
    background-color: #1E1F24;
    margin-top: 50px;

    width: 80%;
    display: flex;
    flex-direction: column;
}

.callback__form {
    margin: 40px;
}

.form__button {
    margin-top: 34px;
    width: 100% !important;
    border: none;
}

.callback__form_elem {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0 !important;
}

.footer__rows {
    margin-top: 60px;

}

.footer__text__position {
    text-align: left;
}

.footer__text {
    color: #C8C8C8;
}

.footer__ref {
    margin-bottom: 10px !important;
}

.footer__ref:hover {
    color: white;
}

.footer_form {
    height: 55px;
}

.checkbox__label {
    width: 45%;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 24px;
    }

    .my__btn {
        width: 100%;
    }

    .block__text {
        font-size: 14px;
    }

    .my__blocks {
        margin-top: 40px;
    }

    .feedback__col {
        margin-top: 40px;
        height: 700px;
    }

    section {
        margin-bottom: 100px;
    }

    .callback img {
        max-width: 100%;
        height: auto;
    }
}